{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBIO Laboratorio Clínico</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/Logo C-BIO.jpg' %}" alt="Logo" style="width: 150px; height: auto;" />
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="background" style="background-image: url('{% static 'images/fondo-laboratorio.jpg' %}');">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2023 CBIO Laboratorio Clínico. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

